<% if (theme.cloud_tie){ %>
<div id="cloud-tie-wrapper" class="cloud-tie-wrapper"></div>
<script>
  var cloudTieConfig = {
    url: "<%- item.permalink %>", 
    sourceId: "",
    productKey: "<%= theme.cloud_tie %>",
    target: "cloud-tie-wrapper"
  };
</script>
<script src="https://img1.cache.netease.com/f2e/tie/yun/sdk/loader.js"></script>
<% } %>
